<main>
  <form class="product-form" action="/api/v1/admin/add-product" method="post">
    <div class="form-control">
      <label for="productName">Product Name</label>
      <input
        type="text"
        name="productName"
        id="productName"
        placeholder="Enter Product"
      />
    </div>
    <div class="form-control">
      <label for="imageUrl ">Img</label>
      <input
        type="text"
        name="imageUrl"
        id="imageUrl"
        placeholder="Image Url"
      />
    </div>
    <div class="form-control">
      <label for="price">Price</label>
      <input type="number" name="price" id="price" placeholder="Price" />
    </div>
    <div class="form-control">
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="5"
      ></textarea>
    </div>
    <button type="submit">Add Product</button>
  </form>
</main>