<main>
  <h1 style="text-align: center;">Page not Found</h1>
</main>
<script type="text/javascript">
  window.onload = function () { setTimeout(function () { window.location.href =
  "http://localhost:3000/api/v1/home"; }, 3000); };
</script>