<main>
  <div style="text-align: center">
    <h1>Welcome to Awesome World!</h1>
    <div class="card__image">
      <img src="/images/products/book1.jpg" alt="A book" />
    </div>
  </div>
  <script>
    window.onload = () => { 
      setTimeout(() => { 
        window.location.href = "/api/v1/admin/add-product"; 
      }, 3000);
    };
  </script>
</main>